
<div class="relative overflow-hidden before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples/polygon-bg-element.svg')] dark:before:bg-[url('https://preline.co/assets/svg/examples-dark/polygon-bg-element.svg')] before:bg-no-repeat before:bg-top before:bg-cover before:size-full before:-z-[1] before:transform before:-translate-x-1/2">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">

    <div class="mt-5 max-w-2xl text-center mx-auto">
      <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-neutral-200">
        <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">CONCURSOS</span>
      </h1>
    </div>

    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text-gray-600 dark:text-neutral-400">  En  <strong>GREEN WEBINDOW</strong>, nos dedicamos a proporcionar soluciones innovadoras y de calidad en el sector, buscando siempre la satisfacción y el bienestar de nuestros clientes. Nuestra misión es ser líderes en nuestra industria, ofreciendo productos y servicios que superen las expectativas del mercado.</p>
    </div>
  </div>
</div>

