<section id="mision">
    <div class="content">
        <h2>Nuestra Misión</h2>
        <p>
            En <strong>Green Webindow 2030</strong>, nuestra misión es promover una educación sostenible mediante la inmersión pluricultural y el aprendizaje basado en desafíos. Buscamos empoderar a estudiantes y docentes en el desarrollo de competencias, creando un espacio colaborativo para identificar problemas locales y compartir soluciones innovadoras a retos globales, fomentando el respeto por el medio ambiente, la inclusión social y el bienestar comunitario.
        </p>
    </div>
</section>