header {
  height: 4rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #d4afb9, #7ec4cf);
}

header .menu-opciones {
  display: none;
}

header h2 {
  font-size: 1rem;
  color: #ffffff;
}

header button {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}

header button:hover {
  background-color: rgba(236, 236, 236, .3);
}

.principal .menu-opciones {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(29, 29, 29, 0.5);
}

.principal .menu-opciones ul {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  background: linear-gradient(to bottom, #d4afb9, #7ec4cf);
  flex-direction: column;
  margin: 0;
  padding: .4rem .5rem;
  gap: .2rem;
}

.principal .menu-opciones ul li {
  width: 100%;
  height: 3rem;
  list-style: none;
  background-color: transparent;
  border-radius: 5px;
}

.principal .menu-opciones ul li a{
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  outline: none;
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.principal .menu-opciones ul li:hover {
  background-color: rgba(255, 255, 255, .2);
}


@media (min-width: 601px) and (max-width: 1024px) {

  header {
    height: 3rem;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #d4afb9, #7ec4cf);
  }

  header .menu-opciones {
    display: none;
  }

  header h2 {
    font-size: 1rem;
    color: #ffffff;
  }

  header button {
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
  }

  header button:hover {
    background-color: rgba(236, 236, 236, .3);
  }

  .principal .menu-opciones {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(29, 29, 29, 0.5);
  }

  .principal .menu-opciones ul {
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    background: linear-gradient(to bottom, #d4afb9, #7ec4cf);
    flex-direction: column;
    margin: 0;
    padding: .4rem .5rem;
    gap: .2rem;
  }

  .principal .menu-opciones ul li {
    width: 100%;
    height: 3rem;
    list-style: none;
    background-color: transparent;
    border-radius: 5px;
  }

  .principal .menu-opciones ul li a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    outline: none;
    text-decoration: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
  }

  .principal .menu-opciones ul li:hover {
    background-color: rgba(255, 255, 255, .2);
  }
}

/* Para pantallas grandes (escritorios) */
@media (min-width: 1025px) {
  header {
    height: 5rem;
    display: flex;
    padding: 0 0 0 1rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #d4afb9, #7ec4cf);
  }

  header .menu-opciones {
    display: flex;
    height: 100%;
    background-color: white;
    width: 75%;
    align-items: center;
  }

  header .menu-opciones ul {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  header .menu-opciones ul li {
    width: 4.5rem;
    padding: 0 1rem;
    list-style: none;
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header .menu-opciones ul li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #7ec4cf;
    display: flex;
    align-items: center;
    font-weight: 600;
    text-align: center;
    display: grid;
    place-content: center;
  }

  header .menu-opciones ul li:hover {
    background-color: #7ec4cf;
  }

  header .menu-opciones ul li:hover  a{
    color: white;
  }

  header h2 {
    font-size: 1rem;
    color: #ffffff;
  }

  header button {
    display: none;
  }

  .principal .menu-opciones {
    display: none;
  }

}
