<div class="contenedor">
  <h1 class="titulo">Sobre Nosotros</h1>
  <p class="descripcion">
      En Green Webindow 2030, somos una comunidad dedicada a promover la educación sostenible y la colaboración intercultural.
      Nuestra unidad de investigación reúne a estudiantes y docentes de diversas realidades socioculturales para abordar
      los desafíos contemporáneos que enfrenta nuestro mundo.
  </p>
  <div class="equipo">
      <div class="miembro">
          <img src="https://www.dropbox.com/scl/fi/bv7nyvm80j201bwp2cjg4/MR.-NELVER.png?rlkey=ybzvgvg8n6awzzvwu5yqin1og&st=3hgnpkqw&raw=1" alt="Dr. Nelver Vera Mostacero" class="imagen-equipo">
          <h3 class="nombre">Dr. Nelver Vera Mostacero</h3>
          <p class="rol">Representante</p>
      </div>
      <div class="miembro">
        <img src="https://www.dropbox.com/scl/fi/gwqa19nn0ed0htf6ncxgc/26.jpg?rlkey=wxhijez08b2cu0j22nbusdy5s&st=tn6dfbwu&raw=1" alt="Dr. Nelver Vera Mostacero" class="imagen-equipo">
        <h3 class="nombre">Almendra L. Cruzado E.</h3>
        <p class="rol">Colaborador(a)</p>
    </div>
  </div>
</div>
