<!-- Hero -->
<div class="relative overflow-hidden before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples/polygon-bg-element.svg')] dark:before:bg-[url('https://preline.co/assets/svg/examples-dark/polygon-bg-element.svg')] before:bg-no-repeat before:bg-top before:bg-cover before:size-full before:-z-[1] before:transform before:-translate-x-1/2">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">


    <!-- Title -->
    <div class="mt-5 max-w-2xl text-center mx-auto">
      <h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-neutral-200">
        Sobre
        <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">Nosotros</span>
      </h1>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text-gray-600 dark:text-neutral-400">  En Green Webindow 2030, somos una comunidad dedicada a promover la educación sostenible y la colaboración intercultural.
        Nuestra unidad de investigación reúne a estudiantes y docentes de diversas realidades socioculturales para abordar
        los desafíos contemporáneos que enfrenta nuestro mundo.</p>
    </div>
  </div>
</div>
<!-- End Hero -->

<div class="contenedor">
  <div class="equipo">
      <div class="miembro">
        <a class="flex flex-col group bg-white border shadow-sm rounded-xl overflow-hidden  focus:outline-none focus:shadow-lg transition dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70" href="#">
          <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
            <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl" src="https://www.dropbox.com/scl/fi/bv7nyvm80j201bwp2cjg4/MR.-NELVER.png?rlkey=ybzvgvg8n6awzzvwu5yqin1og&st=3hgnpkqw&raw=1" alt="Card Image">
          </div>
          <div class="p-4 md:p-5">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white">
              Dr. Nelver Vera Mostacero
            </h3>
            <p class="mt-1 text-gray-500 dark:text-neutral-400">
              Representante
            </p>
          </div>
        </a>
      </div>
      <div class="miembro">
        <a class="flex flex-col group bg-white border shadow-sm rounded-xl overflow-hidden focus:outline-none focus:shadow-lg transition dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70" href="#">
          <div class="relative pt-[50%] sm:pt-[60%] lg:pt-[80%] rounded-t-xl overflow-hidden">
            <img class="size-full absolute top-0 start-0 object-cover group-hover:scale-105 group-focus:scale-105 transition-transform duration-500 ease-in-out rounded-t-xl" src="https://www.dropbox.com/scl/fi/gwqa19nn0ed0htf6ncxgc/26.jpg?rlkey=wxhijez08b2cu0j22nbusdy5s&st=tn6dfbwu&raw=1" alt="Card Image">
          </div>
          <div class="p-4 md:p-5">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white">
              Almendra L. Cruzado E.
            </h3>
            <p class="mt-1 text-gray-500 dark:text-neutral-400">
              Colaborador(a)
            </p>
          </div>
        </a>
    </div>
  </div>
</div>
