<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
 />


 <section class="proyecto">
  <div class="contenedor">
    <div class="proyecto-contenido">
      <div class="proyecto-texto">
        <h1 class="titulo"> <span>ECO-PAWS </span>PET PROJECT</h1>
        <p class="descripcion">
          El proyecto ECOPAWS: Pets Project tiene como propósito principal garantizar el bienestar y la protección de las mascotas dentro de un entorno universitario, fomentando una convivencia armoniosa con la comunidad. Basado en una interdisciplina entre veterinaria, educación y comunicación, busca sensibilizar a los estudiantes sobre la importancia del cuidado integral de los animales, abarcando su bienestar físico, emocional y social.
        </p>

        <p class="descripcion">
          Entre los objetivos principales del proyecto destacan la promoción de la empatía hacia los animales, la difusión de ideas innovadoras para ayudarlos y la mejora del bienestar de las mascotas del campus. Además, se pretende dar visibilidad a las historias de estas mascotas, creando un vínculo más cercano entre la comunidad universitaria y los animales.
        </p>

        <div class="container-opciones">
          <a
            href="https://www.dropbox.com/scl/fi/34i4ybiacvq9moct6fgmp/Eco-paws.pdf?rlkey=l380gsvguyhww04pqybm338om&st=rcgm1whq&raw=1"
            target="_blank"
            class="pdf-link"
            >https://www.dropbox.com/scl/fo/f4n29nvw52itoulpwggd1/ABIZTXvOueFOUTUUMyA3wo0?rlkey=bp4odbzy1qh37zfzj8w5r3d78&st=44m15hdc&dl=0</a
          >
          <a
            href="https://www.dropbox.com/scl/fi/34i4ybiacvq9moct6fgmp/Eco-paws.pdf?rlkey=l380gsvguyhww04pqybm338om&st=rcgm1whq&raw=1"
            target="_blank"
            class="pdf-link"
            >VER ARCHIVO</a
          >
        </div>
      </div>
      <div class="proyecto-imagen">
        <video controls class="imagen-proyecto">
          <source
            src="https://www.dropbox.com/scl/fi/aqkuofwuhcvh7qcgwadpr/WhatsApp-Video-2024-12-20-at-10.53.48-PM.mp4?rlkey=t4d0qahsvokjf51ao6v2qpuh0&st=4qp68q2l&raw=1"
            type="video/mp4"
          />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
</section>

<section class="encuesta-seccion">
  <div class="encuesta-contenido">
    <img
        src="https://www.dropbox.com/scl/fi/vqxtyvwg223a7ygvtslpf/1.png?rlkey=o38yh71yddzanqyjlfe4vr7es&st=rbekm3m5&raw=1"
        alt="Resultados de la Encuesta"
        class="imagen"
      />
    <div class="imagen-resultados">
      <h2 class="titulo">Resultados</h2>
      <p class="descripcion">
        Esta encuesta se hizo para saber que opina la gente sobre ......
      </p>
    </div>
  </div>
</section>

