<section class="carousel">
  <div class="carousel-container">
    <input type="radio" id="slide1" name="carousel" checked />
    <input type="radio" id="slide2" name="carousel" />
    <input type="radio" id="slide3" name="carousel" />
    <input type="radio" id="slide4" name="carousel" />

    <div class="carousel-items">
      <div class="carousel-item">
        <img
          src="https://www.dropbox.com/scl/fi/m8ncpvxbfmq4wrthrn3l7/PilarAmor.jpg?rlkey=fqr3gdh6litb8lwumwnuc3qdu&st=m76ujmo1&raw=1"
          alt="Imagen de prueba 1"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.dropbox.com/scl/fi/jtw223qm46np5zvapsb28/3.jpg?rlkey=q7j2irylammvkmhl895cvdvsa&st=1an24hrx&raw=1"
          alt="Imagen de prueba 2"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.dropbox.com/scl/fi/grxpcoilrhyo60367p18v/1.jpg?rlkey=wl4d1kkjf76rgkqo73083qk2y&st=ty8tmcae&raw=1"
          alt="Imagen de prueba 3"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/666870/pexels-photo-666870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Imagen de prueba 4"
          width="400"
          height="400"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/26201108/pexels-photo-26201108/free-photo-of-perro-mascota-cabeza-habitacion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Imagen de prueba 4"
          width="400"
          height="400"
        />
      </div>
    </div>

    <div class="carousel-dots">
      <label for="slide1" class="dot"></label>
      <label for="slide2" class="dot"></label>
      <label for="slide3" class="dot"></label>
      <label for="slide4" class="dot"></label>
    </div>
  </div>
</section>

<section class="proyectos">
  <p class="subTitle">Nuestros</p>
  <h2>PROYECTOS</h2>
  <div class="Item-proyectos">
    <ul>
      @for (item of mainMenu.accessLink; track $index) {
        <li>
          <a [routerLink]="item.route" >
            <div class="container-img">
              <img
                src="https://www.dropbox.com/scl/fi/wboum1avbk7do6jwm5dzh/PROYECTO-1.png?rlkey=w8vz8a9jak1mgz0z4p45v4bl1&st=2g877m6n&raw=1"
                alt="imagen proyecto"
              />
            </div>
            <div class="divisor"></div>
            <h3>{{item.name}}</h3>
          </a>
          <div class="hover-item-proyecto"></div>
        </li>
      }
    </ul>
  </div>
</section>
