/* PROYECTOS */

.proyectos {
  width: 100%;
  margin: 2rem 0;
  box-sizing: border-box;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyectos .subTitle {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 187, 178);
  margin: 0;
  font-weight: 600;
}

.proyectos h2 {
  text-align: center;
  font-size: 2rem;
  color: rgb(153, 153, 153);
  margin: 0;
  font-weight: bolder;
}

.proyectos .Item-proyectos {
  box-sizing: border-box;
  margin: 2rem 0;
}

.proyectos .Item-proyectos ul {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.proyectos .Item-proyectos ul li {
  width: 10rem;
  height: 14rem;
  list-style: none;
}

.proyectos .Item-proyectos ul .cuadro-1,
.proyectos .Item-proyectos ul .cuadro-4,
.proyectos .Item-proyectos ul .cuadro-5 {
  background-color: #daeaf6;
}

.proyectos .Item-proyectos ul .cuadro-2,
.proyectos .Item-proyectos ul .cuadro-3,
.proyectos .Item-proyectos ul .cuadro-6 {
  background-color: #d1cfe2;
}

.proyectos .Item-proyectos ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.proyectos .Item-proyectos ul li a .container-img {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proyectos .Item-proyectos ul li a .container-img img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  mix-blend-mode: multiply;
  transition: transform 0.3s ease;
}

.proyectos .Item-proyectos ul li a h3 {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  color: rgb(1, 87, 82);
  font-weight: bold;
}

.proyectos .Item-proyectos ul li:hover .container-img img {
  transform: scale(1.1);
}

@media (min-width: 601px) {
  /* PROYECTOS */

  .proyectos {
    width: 100%;
    margin: 2rem 0;
    box-sizing: border-box;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .proyectos .subTitle {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0, 187, 178);
    margin: 0;
    font-weight: 600;
  }

  .proyectos h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(153, 153, 153);
    margin: 0;
    font-weight: bolder;
  }

  .proyectos .Item-proyectos {
    box-sizing: border-box;
    margin: 2rem 0;
  }

  .proyectos .Item-proyectos ul {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .proyectos .Item-proyectos ul li {
    width: 30%;
    height: 14rem;
    list-style: none;
  }

  .proyectos .Item-proyectos ul .cuadro-1,
  .proyectos .Item-proyectos ul .cuadro-3,
  .proyectos .Item-proyectos ul .cuadro-5 {
    background-color: #daeaf6;
  }

  .proyectos .Item-proyectos ul .cuadro-2,
  .proyectos .Item-proyectos ul .cuadro-4,
  .proyectos .Item-proyectos ul .cuadro-6 {
    background-color: #d1cfe2;
  }


  .proyectos .Item-proyectos ul li a {
    flex-direction: row;
    padding: 0 .4rem;
  }

  .proyectos .Item-proyectos ul li a .container-img {
    width: 30rem;
    height: 12rem;
    border-radius: 0px;
    padding: 0;
  }

  .proyectos .Item-proyectos ul li a .container-img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    mix-blend-mode: multiply;
    transition: transform 0.3s ease;
  }

  .proyectos .Item-proyectos ul li a h3 {
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    color: rgb(1, 87, 82);
    font-weight: bold;
  }

  .proyectos .Item-proyectos ul li:hover .container-img img {
    transform: scale(1.1);
  }

}

/* Para escritorios (pantallas grandes) */
@media (min-width: 1025px) {

  .proyectos h2 {
    font-size: 3rem;
  }

  .proyectos .Item-proyectos ul {
    width: 70rem;
  }

  .proyectos .Item-proyectos ul li {
    width: 30%;
    height: 15rem;
  }

  .proyectos .Item-proyectos ul .cuadro-1,
  .proyectos .Item-proyectos ul .cuadro-3,
  .proyectos .Item-proyectos ul .cuadro-5 {
    background-color: #daeaf6;
  }

  .proyectos .Item-proyectos ul .cuadro-2,
  .proyectos .Item-proyectos ul .cuadro-4,
  .proyectos .Item-proyectos ul .cuadro-6 {
    background-color: #d1cfe2;
  }

  .proyectos .Item-proyectos ul li a {
    flex-direction: row;
    padding: 0 .4rem;
  }

  .proyectos .Item-proyectos ul li a .container-img {
    width: 30rem;
    height: 12rem;
    border-radius: 0px;
    padding: 0;
  }

  .proyectos .Item-proyectos ul li a .container-img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    mix-blend-mode: multiply;
    transition: transform 0.3s ease;
  }

  .proyectos .Item-proyectos ul li a h3 {
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    color: rgb(1, 87, 82);
    font-weight: bold;
  }

  .proyectos .Item-proyectos ul li:hover .container-img img {
    transform: scale(1.1);
  }
}
