<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
></carousel>

<section class="proyectos">
  <p class="subTitle">Nuestros</p>
  <h2>PROYECTOS</h2>
  <div class="Item-proyectos">
    <ul>
      @for (item of mainMenu.accessLink; track $index) {
        <li>
          <a [routerLink]="item.route" >
            <div class="container-img">
              <img
                [src]="item.imagen"
                alt="imagen proyecto"
              />
            </div>
            <div class="divisor"></div>
            <h3>{{item.name}}</h3>
          </a>
          <div class="hover-item-proyecto"></div>
        </li>
      }
    </ul>
  </div>
</section>
