<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
></carousel>

<section class="proyectos">
  <p class="subTitle">Nuestros</p>
  <h2>PROYECTOS</h2>
  <div class="Item-proyectos">
    <div class="lista-proyecto">
      @for (item of mainMenu.accessLink; track $index) {
        <targets-model-2
        [imagen]="item.imagen"
        [clase]="item.clase"
        [titulo]="item.name"
        [detalle]="item.detalle"
        [router]="item.route"
        />
      }
    </div>
  </div>
</section>

<div class="proyecto-imagen">
  <iframe
    class="imagen-proyecto video-horizontal"
    width="560"
    height="315"
    src="https://www.youtube.com/embed/jPX6SKSq3rg"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<section class="eventos">
  <p class="subTitle">Nuestros</p>
  <h2>EVENTOS</h2>
  <div class="Item-proyectos">
    <div class="items-eventos">
      @for (item of mainMenu.eventosLink; track $index) {
        <targets-model-2
        [imagen]="item.imagen"
        [clase]="item.clase"
        [titulo]="item.name"
        [detalle]="item.detalle"
        [router]="item.route"
        />
      }
    </div>
  </div>
</section>
