<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
/>

<section class="proyecto">
    <div class="contenedor">
        <div class="proyecto-contenido">
            <div class="proyecto-texto">
                <h1 class="titulo">PATHS OF VALUE</h1>
                <p class="descripcion">
                   Este es el proyecto llamado PATHS OF VALUE....
                </p>
                <a href="https://www.dropbox.com/scl/fi/0ctir9xz5kc1exp6wt391/Danitza-Lescano-_20241212_125649_0000.pdf?rlkey=1tp1n9t6stxuu1pgf0ud7dxqt&st=wnjns58c&raw=1" target="_blank" class="pdf-link">VER ARCHIVO</a>

            </div>
            <div class="proyecto-imagen">
                <video controls class="imagen-proyecto">
                    <source src="https://www.dropbox.com/scl/fi/082ky4879yzthboujvwad/WhatsApp-Video-2024-12-28-at-3.40.08-PM.mp4?rlkey=b4ajrsddzbr992iqm6trv3c3m&st=wuk39e47&raw=1" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>

        </div>
    </div>
</section>


<section class="encuesta-seccion">
    <div class="encuesta-contenido">
        <h1 class="titulo">Encuesta</h1>
        <p class="descripcion">
            Esta encuesta se hizo para saber que opina la gente sobre ......
        </p>
        <div class="imagen-resultados">
            <h2 class="titulo">Resultados</h2>
            <img src="https://www.dropbox.com/scl/fi/vqxtyvwg223a7ygvtslpf/1.png?rlkey=o38yh71yddzanqyjlfe4vr7es&st=rbekm3m5&raw=1" alt="Resultados de la Encuesta" class="imagen">
        </div>
    </div>
</section>
