<section class="carousel">
    <div class="carousel-container">
      <input type="radio" id="slide1" name="carousel" checked />
      <input type="radio" id="slide2" name="carousel" />
      <input type="radio" id="slide3" name="carousel" />
      <input type="radio" id="slide4" name="carousel" />
  
      <div class="carousel-items">
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/jwiz2j6m8sq30deamprq2/WhatsApp-Image-2024-12-28-at-3.36.50-PM.jpeg?rlkey=2o0bi1gvpyw1odzl8nojfw9n0&st=x9zhmy6o&raw=1"
            alt="Imagen de prueba 1"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/mgwq4lsmn0qw32a6iuzrs/WhatsApp-Image-2024-12-28-at-3.37.07-PM-6.jpeg?rlkey=df3tcwnk1nmse8zjzotoblfge&st=cie9gk4c&raw=1"
            alt="Imagen de prueba 2"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/jd0jf2m8kiuhxn8rx93xu/WhatsApp-Image-2024-12-28-at-3.38.02-PM-7.jpeg?rlkey=q5tbbe24zre67lxcb1mqjnsue&st=rl9syfoj&raw=1"
            alt="Imagen de prueba 3"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/c7aztq41d2nf03csko3be/WhatsApp-Image-2024-12-28-at-3.37.04-PM-1.jpeg?rlkey=txccmfpsrwmc0rsyddr5urrdb&st=k2qnjn6i&raw=1"
            alt="Imagen de prueba 4"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/d6tm6dw0zl8o2gcu8rxz4/WhatsApp-Image-2024-12-28-at-3.37.04-PM-2.jpeg?rlkey=78artmpu9g03n1gqalvkx12h2&st=4h64q0ab&raw=1"
            alt="Imagen de prueba 4"
            width="400"
            height="400"
          />
        </div>
      </div>
  
      <div class="carousel-dots">
        <label for="slide1" class="dot"></label>
        <label for="slide2" class="dot"></label>
        <label for="slide3" class="dot"></label>
        <label for="slide4" class="dot"></label>
      </div>
    </div>
  </section>
  

<section class="proyecto">
    <div class="contenedor">
        <div class="proyecto-contenido">
            <div class="proyecto-texto">
                <h1 class="titulo">PATHS OF VALUE</h1>
                <p class="descripcion">
                   Este es el proyecto llamado PATHS OF VALUE....
                </p>
                <a href="https://www.dropbox.com/scl/fi/0ctir9xz5kc1exp6wt391/Danitza-Lescano-_20241212_125649_0000.pdf?rlkey=1tp1n9t6stxuu1pgf0ud7dxqt&st=wnjns58c&raw=1" target="_blank" class="pdf-link">VER ARCHIVO</a>
                
            </div>
            <div class="proyecto-imagen">
                <video controls class="imagen-proyecto">
                    <source src="https://www.dropbox.com/scl/fi/082ky4879yzthboujvwad/WhatsApp-Video-2024-12-28-at-3.40.08-PM.mp4?rlkey=b4ajrsddzbr992iqm6trv3c3m&st=wuk39e47&raw=1" type="video/mp4">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>
            
        </div>
    </div>
</section>


<section class="encuesta-seccion">
    <div class="encuesta-contenido">
        <h1 class="titulo">Encuesta</h1>
        <p class="descripcion">
            Esta encuesta se hizo para saber que opina la gente sobre ......
        </p>
        <div class="imagen-resultados">
            <h2 class="titulo">Resultados</h2>
            <img src="https://www.dropbox.com/scl/fi/vqxtyvwg223a7ygvtslpf/1.png?rlkey=o38yh71yddzanqyjlfe4vr7es&st=rbekm3m5&raw=1" alt="Resultados de la Encuesta" class="imagen">
        </div>
    </div>
</section>
