<carousel
  [imagen_a]="imagen_a"
  [imagen_b]="imagen_b"
  [imagen_c]="imagen_c"
  [imagen_d]="imagen_d"
  [imagen_e]="imagen_e"
/>



<div class="relative overflow-hidden">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
    <div class="max-w-2xl text-center mx-auto">
      <h1 class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl dark:text-white">PATHS O<span class="text-blue-600">F VALUE</span></h1>
      <p class="mt-3 text-lg text-gray-800 dark:text-neutral-400">El proyecto ECOPAWS: Pets Project tiene como propósito principal garantizar el bienestar y la protección de las mascotas dentro de un entorno universitario, fomentando una convivencia armoniosa con la comunidad. Basado en una interdisciplina entre veterinaria, educación y comunicación, busca sensibilizar a los estudiantes sobre la importancia del cuidado integral de los animales, abarcando su bienestar físico, emocional y social.
        Entre los objetivos principales del proyecto destacan la promoción</p>
        <div class="container-opciones">
          <a
            href="https://www.dropbox.com/scl/fo/avlssw0cnx48rcb7fhd5b/AKDXWiPlPlvv8Zxo7QB-ESM?rlkey=0bw83cq5fgv75i9dtueg0ewuv&e=1&st=flpcbh32&dl=0"
            target="_blank"
            class="pdf-link"
            >VER CONTENIDO</a
          >
          <a
            href="https://www.dropbox.com/scl/fi/v3wu6m537a86g9iewujfe/PATH-OF-VALUES-GROUP-1.pptx?rlkey=lsphfdknngwjnpfdjt39e1mkn&st=awz7wokc&raw=1"
            target="_blank"
            class="pdf-link"
            >VER ARCHIVO</a
          >
        </div>
    </div>

    <div class="mt-10 relative max-w-5xl mx-auto">
      <!-- <div class="w-full object-cover h-96 sm:h-[480px] bg-[url('https://images.unsplash.com/photo-1606868306217-dbf5046868d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1020&q=80')] bg-no-repeat bg-center bg-cover rounded-xl"></div> -->
      <video controls class="imagen-proyecto w-full object-cover h-96 sm:h-[480px] bg-no-repeat bg-center bg-cover rounded-xl">
        <source
          src="https://www.dropbox.com/scl/fi/082ky4879yzthboujvwad/WhatsApp-Video-2024-12-28-at-3.40.08-PM.mp4?rlkey=b4ajrsddzbr992iqm6trv3c3m&st=wuk39e47&raw=1"
          type="video/mp4"
        />
        Tu navegador no soporta la etiqueta de video.
      </video>

      <div class="absolute bottom-12 -start-20 -z-[1] size-48 bg-gradient-to-b from-orange-500 to-white p-px rounded-lg dark:to-neutral-900">
        <div class="bg-white size-48 rounded-lg dark:bg-neutral-900"></div>
      </div>

      <div class="absolute -top-12 -end-20 -z-[1] size-48 bg-gradient-to-t from-blue-600 to-cyan-400 p-px rounded-full">
        <div class="bg-white size-48 rounded-full dark:bg-neutral-900"></div>
      </div>
    </div>
  </div>
</div>




<section class="encuesta-seccion">
  <div class="encuesta-contenido">
    <img
        src="https://www.dropbox.com/scl/fi/vqxtyvwg223a7ygvtslpf/1.png?rlkey=o38yh71yddzanqyjlfe4vr7es&st=rbekm3m5&raw=1"
        alt="Resultados de la Encuesta"
        class="imagen"
      />
    <div class="imagen-resultados">
      <h2 class="titulo">Resultados</h2>
      <p class="descripcion">
        Esta encuesta se hizo para saber que opina la gente sobre ......
      </p>
    </div>
  </div>
</section>
