/* Estilos para la sección de descripción del proyecto */
.proyecto {
    padding: 60px 20px;
    background-color: #ffffff;
    color: #333;
    font-family: Arial, sans-serif;
}

.proyecto .contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.proyecto-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.proyecto-texto {
    flex: 1;
    min-width: 300px;
}

.proyecto-texto .titulo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #222;
}

.proyecto-texto .descripcion {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

.proyecto-imagen {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.proyecto-imagen .imagen-proyecto {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el enlace del PDF */
.pdf-link {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Texto blanco */
    font-size: 16px;
    text-decoration: none; /* Eliminar subrayado */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

/* Efecto cuando el enlace es hover (pasar el ratón por encima) */
.pdf-link:hover {
    background-color: #45a049; /* Cambio de color de fondo al pasar el ratón */
    transform: translateY(-2px); /* Desplazamiento ligero hacia arriba */
}

/* Efecto cuando el enlace es activo (clic) */
.pdf-link:active {
    transform: translateY(0); /* Volver a la posición original cuando se hace clic */
}


/* Estilos para la sección de encuesta */
.encuesta-seccion {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0;
    box-sizing: border-box;
}

.encuesta-contenido {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.descripcion {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 30px;
}

.imagen-resultados {
    text-align: center;
}

.imagen {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen-resultados img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
