<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
 />


 <section class="proyecto">
  <div class="contenedor">
    <div class="proyecto-contenido">
      <div class="proyecto-texto">
        <h1 class="titulo"> <span>ROOTS OF </span>EMPATHY</h1>
        <p class="descripcion">
          El proyecto busca prevenir y abordar la violencia juvenil mediante un programa integral que fomente la empatía y la resolución pacífica de conflictos. A través de charlas educativas y estrategias prácticas, se sensibiliza a jóvenes, familias y docentes sobre las causas y consecuencias de la violencia, promoviendo una cultura de paz y fortaleciendo valores esenciales.
        </p>

        <p class="descripcion">
          Con un enfoque interdisciplinario, se integran psicología, sociología y educación para comprender los factores que generan violencia, analizar dinámicas sociales y culturales, y proponer estrategias escolares preventivas. Inspirado en modelos internacionales como centros de mediación en Noruega y grupos de apoyo en Suecia, el proyecto promueve el diálogo y la construcción colectiva de soluciones para transformar la comunidad.
        </p>

        <div class="container-opciones">
          <!-- <a
            href="https://www.dropbox.com/scl/fi/pevyfcbf0qf2r1uiin1bc/Greener-University-Club_20241215_235610_0000.pdf?rlkey=3cg3994i7mj6kgz51zjwn9c8l&st=0yvbzgc9&raw=1"
            target="_blank"
            class="pdf-link"
            >VER ARCHIVO</a
          > -->
        </div>
      </div>
      <div class="proyecto-imagen">
        <video controls class="imagen-proyecto">
          <source
            src="https://www.dropbox.com/scl/fi/xqqwuq7dmvs0xrj7xq8tv/VID-20241210-WA0146.mp4?rlkey=brmc4wv721qw0lb15dgjpej9e&st=f13mcze7&raw=1"
            type="video/mp4"
          />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
</section>

<section class="encuesta-seccion">
  <div class="encuesta-contenido">
    <img
        src="https://www.dropbox.com/scl/fi/vqxtyvwg223a7ygvtslpf/1.png?rlkey=o38yh71yddzanqyjlfe4vr7es&st=rbekm3m5&raw=1"
        alt="Resultados de la Encuesta"
        class="imagen"
      />
    <div class="imagen-resultados">
      <h2 class="titulo">Resultados</h2>
      <p class="descripcion">
        Esta encuesta se hizo para saber que opina la gente sobre ......
      </p>
    </div>
  </div>
</section>


