<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
 />


 <section class="proyecto">
  <div class="contenedor">
    <div class="proyecto-contenido">
      <div class="proyecto-texto">
        <h1 class="titulo"> <span>ONE HAND </span>TO HELP</h1>
        <p class="descripcion">
          El proyecto "One Hand to Help" es un programa de tutorías diseñado para estudiantes universitarios de primeros años, especialmente en la carrera de Idiomas de la Universidad Nacional de Trujillo. Su objetivo principal es fomentar la inclusión educativa y social mediante charlas, cursos de inducción y talleres interdisciplinarios que aborden temas clave como investigación, certificaciones internacionales, métodos de estudio y nutrición. Además, busca fortalecer la relación entre estudiantes y docentes, promoviendo un ambiente de confianza y apoyo mutuo.
        </p>

        <div class="container-opciones">
          <a
            href="https://www.dropbox.com/scl/fi/n1fgksq7tfba6zk88vluv/Educacion-Sostenible-Impulsando-el-Cambio-Inclusi-n-educativa-y-social.pptx?rlkey=n7bkrbljlsqwnsk0p5x3fc6gb&st=stbtf07r&raw=1"
            target="_blank"
            class="pdf-link"
            >VER ARCHIVO</a
          >
        </div>
      </div>
      <div class="proyecto-imagen">
        <video controls class="imagen-proyecto">
          <source
            src="https://www.dropbox.com/scl/fi/a70gd3c8fh80q9zr9ym7a/Entrevista-01.mp4?rlkey=rkmz4458370rzxuy3zxydol8j&st=qmeo48ls&raw=1"
            type="video/mp4"
          />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
</section>

<section class="encuesta-seccion">
  <div class="encuesta-contenido">
    <img
        src="https://www.dropbox.com/scl/fi/vqxtyvwg223a7ygvtslpf/1.png?rlkey=o38yh71yddzanqyjlfe4vr7es&st=rbekm3m5&raw=1"
        alt="Resultados de la Encuesta"
        class="imagen"
      />
    <div class="imagen-resultados">
      <h2 class="titulo">Resultados</h2>
      <p class="descripcion">
        Esta encuesta se hizo para saber que opina la gente sobre ......
      </p>
    </div>
  </div>
</section>


