<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
 />


 <section class="proyecto">
  <div class="contenedor">
    <div class="proyecto-contenido">
      <div class="proyecto-texto">
        <h1 class="titulo"> <span>LIVING </span>LIBRARY</h1>
        <p class="descripcion">
          El proyecto "Living Library: Reading For The Future" busca fomentar el hábito de la lectura en niños y adolescentes de Trujillo, Perú, para mejorar su rendimiento académico, confianza y convivencia, contribuyendo a prevenir la delincuencia juvenil. A través de talleres semanales de lectura colaborativa, facilitados por estudiantes universitarios, se desarrollan habilidades de comprensión lectora, pensamiento crítico y creatividad.
        </p>

        <p class="descripcion">
          Además, se promueven actividades sostenibles como la recolección de libros y el análisis de datos sobre hábitos de lectura, con el objetivo de generar un impacto positivo duradero en las comunidades escolares.
        </p>

        <div class="container-opciones">
          <a
            href="https://www.dropbox.com/scl/fi/pevyfcbf0qf2r1uiin1bc/Greener-University-Club_20241215_235610_0000.pdf?rlkey=3cg3994i7mj6kgz51zjwn9c8l&st=0yvbzgc9&raw=1"
            target="_blank"
            class="pdf-link"
            >VER ARCHIVO</a
          >
        </div>
      </div>
      <div class="proyecto-imagen">
        <video controls class="imagen-proyecto">
          <source
            src="https://www.dropbox.com/scl/fi/a70gd3c8fh80q9zr9ym7a/Entrevista-01.mp4?rlkey=rkmz4458370rzxuy3zxydol8j&st=qmeo48ls&raw=1"
            type="video/mp4"
          />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </div>
    </div>
  </div>
</section>

<section class="encuesta-seccion">
  <div class="encuesta-contenido">
    <img
        src="https://www.dropbox.com/scl/fi/vqxtyvwg223a7ygvtslpf/1.png?rlkey=o38yh71yddzanqyjlfe4vr7es&st=rbekm3m5&raw=1"
        alt="Resultados de la Encuesta"
        class="imagen"
      />
    <div class="imagen-resultados">
      <h2 class="titulo">Resultados</h2>
      <p class="descripcion">
        Esta encuesta se hizo para saber que opina la gente sobre ......
      </p>
    </div>
  </div>
</section>


