<carousel
[imagen_a]="imagen_a"
[imagen_b]="imagen_b"
[imagen_c]="imagen_c"
[imagen_d]="imagen_d"
[imagen_e]="imagen_e"
 />

<section class="proyecto">
    <div class="contenedor">
        <div class="proyecto-contenido">
            <div class="proyecto-texto">
                <h1 class="titulo">Título del Proyecto 3</h1>
                <p class="descripcion">
                    Este proyecto está diseñado para resolver problemas específicos mediante soluciones innovadoras y tecnológicas. Con un enfoque en la eficiencia y la sostenibilidad, este proyecto busca transformar la manera en que se manejan los procesos clave, logrando un impacto positivo en la sociedad.
                </p>
            </div>
            <div class="proyecto-imagen">
                <img src="https://dochub.com/claudio-paul-cruzado-esquivel/YpDBonNVrDYnA2YRMX93r7/2-jpg" alt="Imagen del Proyecto" class="imagen-proyecto">
            </div>
        </div>
    </div>
</section>
