.equipos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-content: center;
  box-sizing: border-box;
}
@media (min-width: 601px) {
  .equipos {
    flex-direction: row;
  }
}


@media (min-width: 1025px) {
  .equipos {
    flex-direction: row;
  }
}
