.container-opciones {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: CENTER;
}

.pdf-link {
  width: 100%;
  display: inline-block;
  padding: 12px 24px;
  background-color: #d4afb9;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.pdf-link:hover {
  background-color: #7ec4cf;
  transform: translateY(-2px);
}

.pdf-link:active {
  transform: translateY(0);
}

.encuesta-seccion {
  width: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  margin-top: 1rem;
}

.encuesta-contenido {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #d1cfe2, #daeaf6);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

.imagen-resultados {
  margin-left: 2rem;
}

.imagen-resultados h2 {
  font-size: 3rem;
  color: #7ec4cf;
}

.imagen-resultados .descripcion {
  color: #666;
}

@media (min-width: 601px) {
  .pdf-link {
    width: auto;
  }

  .encuesta-seccion {
    margin-top: 6rem;
  }

  .encuesta-contenido {
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  .pdf-link {
    width: auto;
  }

  .encuesta-seccion {
    margin-top: 6rem;
  }

  .encuesta-contenido {
    flex-direction: row;
  }
}
