
<section class="carousel">
    <div class="carousel-container">
      <input type="radio" id="slide1" name="carousel" checked />
      <input type="radio" id="slide2" name="carousel" />
      <input type="radio" id="slide3" name="carousel" />
      <input type="radio" id="slide4" name="carousel" />
  
      <div class="carousel-items">
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/m8ncpvxbfmq4wrthrn3l7/PilarAmor.jpg?rlkey=fqr3gdh6litb8lwumwnuc3qdu&st=m76ujmo1&raw=1"
            alt="Imagen de prueba 1"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/jtw223qm46np5zvapsb28/3.jpg?rlkey=q7j2irylammvkmhl895cvdvsa&st=1an24hrx&raw=1"
            alt="Imagen de prueba 2"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://www.dropbox.com/scl/fi/grxpcoilrhyo60367p18v/1.jpg?rlkey=wl4d1kkjf76rgkqo73083qk2y&st=ty8tmcae&raw=1"
            alt="Imagen de prueba 3"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/666870/pexels-photo-666870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Imagen de prueba 4"
            width="400"
            height="400"
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://images.pexels.com/photos/26201108/pexels-photo-26201108/free-photo-of-perro-mascota-cabeza-habitacion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="Imagen de prueba 4"
            width="400"
            height="400"
          />
        </div>
      </div>
  
      <div class="carousel-dots">
        <label for="slide1" class="dot"></label>
        <label for="slide2" class="dot"></label>
        <label for="slide3" class="dot"></label>
        <label for="slide4" class="dot"></label>
      </div>
    </div>
  </section>

<section class="nosotros">
    <div class="contenedor">
        <h1 class="titulo">Sobre Nosotros</h1>
        <p class="descripcion">
            En Green Webindow 2030, somos una comunidad dedicada a promover la educación sostenible y la colaboración intercultural. 
            Nuestra unidad de investigación reúne a estudiantes y docentes de diversas realidades socioculturales para abordar 
            los desafíos contemporáneos que enfrenta nuestro mundo.
        </p>
        <div class="equipo">
            <div class="miembro">
                <img src="https://www.dropbox.com/scl/fi/bv7nyvm80j201bwp2cjg4/MR.-NELVER.png?rlkey=ybzvgvg8n6awzzvwu5yqin1og&st=3hgnpkqw&raw=1" alt="Dr. Nelver Vera Mostacero" class="imagen-equipo">
                <h3 class="nombre">Dr. Nelver Vera Mostacero</h3>
                <p class="rol">Representante</p>
            </div>
        </div>
        <div class="equipos">
            <div class="miembro">
                <img src="https://www.dropbox.com/scl/fi/nr4w3b6ppnf7hk9vpoqxn/MISI-N.png?rlkey=zs09t1sqqjd4p7vloozr2qbh1&st=ec1ekl3h&raw=1" alt="Juan Pérez" class="imagen-equipo">
                <h3 class="nombre">Misión</h3>
                <p class="rols">
                    En <strong>Green Webindow 2030</strong>, nuestra misión es promover una educación sostenible mediante la inmersión pluricultural y 
                    el aprendizaje basado en desafíos. Buscamos empoderar a estudiantes y docentes en el desarrollo de competencias, creando un espacio 
                    colaborativo para identificar problemas locales y compartir soluciones innovadoras a retos globales, fomentando el respeto por 
                    el medio ambiente, la inclusión social y el bienestar comunitario.
                </p>
            </div>
            <div class="miembro">
                <img src="https://www.dropbox.com/scl/fi/e3j2z29aktq4mfw67d9vq/VISI-N.png?rlkey=l9cgpev4umbh7t3urwgdlsdc6&st=uuj8ix4n&raw=1" alt="Juan Pérez" class="imagen-equipo">
                <h3 class="nombre">Visión</h3>
                <p class="rols">Aspiramos a ser un referente en la educación intercultural y el desarrollo sostenible, donde estudiantes y docentes de 
                    diversas realidades socioculturales colaboren para enfrentar los desafíos contemporáneos. En Green Webindow 2030, visualizamos un futuro 
                    en el que la integración de conocimientos y experiencias contribuya a la creación de comunidades resilientes, comprometidas con la 
                    protección del planeta y la mejora de la calidad de vida de todos sus habitantes.</p>
            </div>
            <div class="miembro">
                <img src="https://www.dropbox.com/scl/fi/qcz92xdeeqrp1z4e40t9y/ENFOQUE.png?rlkey=w8esq23lxqzqhj32ay7xh2w73&st=05bdcje1&raw=1" alt="Juan Pérez" class="imagen-equipo">
                <h3 class="nombre">Enfoque</h3>
                <p class="rols">
                    Con una metodología transdisciplinaria e intercultural, buscamos unir esfuerzos y recursos para enfrentar 
                    los retos globales de manera efectiva. Valoramos la diversidad y la inclusión, promoviendo un ambiente donde 
                    cada voz cuenta y cada experiencia es valiosa. A través de la colaboración y el respeto mutuo, aspiramos a generar
                     soluciones innovadoras que reflejen la riqueza de nuestras comunidades.</p>
            </div>
        </div>
    </div>
</section>