.cuadro-1 {
  background-color: #d4afb9;
}
.cuadro-2 {
  background-color: #d1cfe2;
}
.cuadro-3 {
  background-color: #9cadce;
}
.cuadro-4 {
  background-color: #7ec4cf;
}
.cuadro-5 {
  background-color: #daeaf6;
}
.cuadro-6 {
  background-color: #d4afb9;
}

.cuadro-1,
.cuadro-2,
.cuadro-3,
.cuadro-4,
.cuadro-5,
.cuadro-6
 {
  height: 25rem;
  padding: 1rem;
  border-radius: 30px;
}

.container-img {
  background-color: aliceblue;
  width: 100%;
  height: 10rem;
  border-radius: 14px;
  overflow: hidden;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container-detalle {
  height: 100%;
}



@media (min-width: 601px) {
  .cuadro-1,
  .cuadro-2,
  .cuadro-3,
  .cuadro-4,
  .cuadro-5,
  .cuadro-6
   {
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 30px;
  }

  .container-img {
    background-color: aliceblue;
    width: 100%;
    height: 10rem;
    border-radius: 14px;
    overflow: hidden;
  }

  .container-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .container-detalle {
    height: 100%;
  }

}

/* Para escritorios (pantallas grandes) */
@media (min-width: 1025px) {

}
