.footer {
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4rem;
  box-sizing: border-box;
  background-color: #daeaf6;
}

.footer-logo {
  margin-top: 1rem;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

.footer-logo h2 {
  color: #353535;
  font-size: 1rem;
  margin: 0;
}

.footer-texto {
  height: 100%;
  display: grid;
  justify-content: end;
  align-items: center;
}

.footer-texto p{
  font-size: .8rem;
  text-align: center;
  margin: 0;
}


@media (min-width: 1025px) {

  .footer {
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem;
    box-sizing: border-box;
    background-color: #daeaf6;
  }

  .footer-logo {
    height: 100%;
    display: grid;
    justify-content: end;
    align-items: center;
  }

  .footer-logo h2 {
    color: #353535;
  }

  .footer-texto {
    height: 100%;
    display: grid;
    justify-content: end;
    align-items: center;
  }

}
